<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hid16605093.movieflix">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Movies.MovieSearchActivity" />
        <activity android:name=".Cinema.CinemaListingsActivity" />
        <activity android:name=".Movies.MovieSearchResultsActivity" />
        <activity android:name=".Cinema.SelectedCinemaActivity" />
        <activity android:name=".Cinema.CinemaMovieListingsActivity" />
        <activity android:name=".Movies.FavouriteMoviesActivity" />
        <activity android:name=".Movies.YouTubePlayerActivity" />
        <activity android:name=".Cinema.CinemaSearchActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.hid16605093.movieflix"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

</manifest>